/*header*/
*{
    box-sizing: border-box;
    
  }
  body {
    background-color: rgb(242, 242, 242);
    font-family: "Calibri", 'Helvetica';
    color: white;
    margin: 4px;
  }
  header {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgba(31, 78, 121);
    justify-content: space-between;
    
  }
  header h1 {
    background-color: rgb(91, 155, 213);
    padding: 10px 50px 10px 30px;
    font-size: 50px;
    justify-content: left;
  }
  /*top navigation*/
  nav a {
    background-color: rgb(91, 155, 213);
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: "Calibri";
    margin: 20px;
    
  }
  nav a:hover {
    background-color: rgba(240, 248, 255, 0.438);
    color: white;
  }
  /*headshot image*/
  .headshot img {
    display: flex;
    border-radius: 50%;
    height:300px;
    position: relative;
    top: 100px;
    left: -75px;
    
  }
  /*about me section*/
  .about {
    height: 300px;
    display:flex;
    flex-wrap: wrap;
    background-color: rgba(91, 155, 213);
    font-family: "Calibri", 'Helvetica';
    
    
  }
  .aboutme-left h2{
    font-size: 50px;
    margin: 100px 0px 0px 100px; 
    position:relative;
  }
  .aboutme-right {
    font-size: 30px;
    text-align: center;
    margin: -150px 100px 0px 1000px;
    font-size: 30px;
  }
  

  /*work section*/
  
  .work-section {
    background-color:rgb(91, 155, 213);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .work-section h2 {
    padding-left: 100px;
    padding-right: 50px;
    font-size: 50px;
  }
  
  .work-section div {
    flex: 0 80%;
  
  }

  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}
  
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .flex-item {
    border: 3.5px solid white;
    background-color: rgba(31, 78, 121);
    color: white;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    
  }

  .flex-item:hover {
    background-color: rgba(240, 248, 255, 0.438);
    text-decoration: none;
 }
  

  .flex-item div {
    background-color: rgba(240, 248, 255, 0.438);
    color: black;
    padding: 15px;
    
  }
   
  .flex-item div h3{
    font-size: 30px;
    
  }

 
  .flex-item div span {
    font-size: 20px;
  }
   


/*image links*/


  /*Contact me links */
  .contact {
    background-color: rgba(31, 78, 121);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Calibri";
    height: 150px;
  }
  .contact h2{
    font-family: "Calibri", 'Helvetica';
    font-size: 50px;
    padding-left: 100px;
  }
  ul a {
    padding: 8px 30px 10px;
    float: center;
    background-color:rgb(91, 155, 213);;
    text-decoration-line: underline;
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin:90px;
  }
  ul a:hover {
    background-color: rgba(240, 248, 255, 0.438);
    color: white;  
  }
 
  
  /*responsive layout*/
  
  @media screen and (max-width: 992px) {
    .img {
      width: 50%;
    }
    /* Change the header color*/
    header {
      background: #635b5a;
    }
  }
  @media screen and (max-width: 768px) {
    .img {
      width: 50%;
    } 
    /* Change the header color */
    header {
      background: #0f0f0f;
    }
  }