
/*header*/

*{
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 242, 242);
  font-family: "Calibri", 'Helvetica';

}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(31, 78, 121);
  color: white;
  font-size: 20px;
}

header h1 {
  background-color: rgb(91, 155, 213);
  padding: 10px 50px 10px 30px;
}

/*top navigation*/
nav a {
  background-color: rgb(91, 155, 213);
  padding: 8px 30px 10px;
  float: right;
  color: white;
  font-size: 25px;
  font-weight: 700;
  font-family: "Calibri";
  margin-right: 5px;
  margin-top: 75px; 
}

nav a:hover {
  background-color: rgba(240, 248, 255, 0.438);
  color: white;
}

/*headshot image*/
.header_image img {
  display: flex;
  border-radius: 50%;
  height:350px;
  position: relative;
  top: -50px;
  left: 550px;
}

/*about me section*/
#aboutme {
  display: flex;
  margin-top: -350px;
  flex-wrap: wrap;
  background-color: rgba(31, 78, 121);
  font-family: "Calibri", 'Helvetica';
  font-size: 20px;
}

#aboutme h2 {
  margin: 35px 100px 100px 125px; 
  font-size: 50px;
  color: white;
}

#aboutme p {
  text-align: center;
  position: absolute;
  top: 150px;
  left: 1000px;
  right: 150px;
  font-size: 30px;
  color: white;
  display: flex;
}

/*work section*/
.segments {
  flex-wrap: wrap;
  font-family: "Calibri", 'Helvetica';
  color: white;
  background-color: rgb(91, 155, 213);
  display: flex;
  padding-top: 50px;
}

.segments h2 {
  margin: 35px 100px 100px 125px; 
  font-size: 50px;
}

#studyguide img {
  height: 500px;
  width: 700px;
  margin: -70px 800px 0px 600px;
}

#modules img {
  float: left;
  height: 250px;
  width: 250px;
  margin: 20px 400px 20px 50px;
}

span {
  display:block;
  text-align: center;
  font-size: 40px;
  margin: -50px 0 0 150px;
  color: black;
}

/*Contact me links */
#contactme {
  background-color: rgba(31, 78, 121);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Calibri";
}

#contactme h2{
  font-family: "Calibri", 'Helvetica';
  color: white;
  font-size: 50px;
  padding-left: 100px;
}


ul a {
  padding: 8px 30px 10px;
  float: center;
  background-color:rgb(91, 155, 213);;
  color: white;
  text-decoration-line: underline;
  font-size: 25px;
  font-weight: 700;
  margin:90px;
 
}

ul a:hover {
  background-color: rgba(240, 248, 255, 0.438);
  color: white;  
}