
/*header*/

*{
  box-sizing: border-box;
  
}

header h1 {
  padding: 27px;
  margin: auto;
  text-align: left;
  background-color: rgba(31, 78, 121);
  font-family: "Helvetica";
  color: white;
  font-size: 40px;
}

header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}
/*background color for nav*/
nav {
  background-color: rgb(91, 155, 213);
  overflow: hidden;
}

nav a {
  float: right;
  color: black;
  text-align: center;
  padding: 1px 30px 20px;
  text-decoration-line:underline;
  font-size: 25px;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
  background-color: rgba(240, 248, 255, 0.438);
  color: white;
}

img {
  border-radius: 50%;
  height:300px;
}